header { 
  background-color: #2a2c39;
color: #BDC3C7;
font-family: Arial, sans-serif;
text-align: center;
height: 100px;
margin: 0;
border: none;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}
html, body {
margin: 0;
padding: 0;
}
* {
}
margin: 0;
padding: 0;
box-sizing: border-box;
